---
layout: default
---

<header class="main">
  {% include nav.html %}
  <div>
    <p>the sophisticated</p>
    <h1>OMARI</h1>
    <p class="button"><a href="https://www.instagram.com/step2maury/">Learn More</a></p>
  </div>
</header>
<section class="mini-about">
  <div>
    <h2>the young one Omari displays, "flexs",  his talents and mastery on other unsuspecting people</h2>
    <p>Omari is an active advocate for pineapple on pizza, pitbulls, and appreciation for the arts, young omari aims to be the best around and noone can stop this man, a true force to be reckon with. There is nothing this man can't do he just so damn good at everything</p>
  </div>
</section>
<section class="talent">
  {% for omari in site.data.omari-talent %}
    <div>
      <img src="{{omari.img}}" alt="{{omari-desc}}">
      <h3>{{omari.title}}</h3>
      <p>{{omari.desc}}</p>
      <p><a href="{{omari.link}}">learn more</a></p>
    </div>
  {% endfor %}
</section>
