html, body {
  margin: 0;
}

header {
  background-size: cover;
  background-position: center;
  height: 95vh;
}

header.main {
  background-image: url(images/omari.gif);
}

header.about {
  background-image: url(images/youngo.gif);
}
