html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

footer {
  align-items: center;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

footer p {
  color: rgba(255, 255, 255, .8);
  font-size: 18px;
  letter-spacing: 1px;
}

footer p:last-of-type {
  color: rgba(130, 130, 130, .4);
}

footer p a {
  color: rgba(130, 130, 130, .4);
  text-decoration: none;
}

header {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

header.main {
  background-image: url(images/omari.gif);
}

header.about {
  background-image: url(images/youngo.gif);
}

header div {
  align-items: center;
  color: #fff;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

header div h1 {
  font-size: 100px;
  margin: 2% 0;
}

header div p:first-of-type {
  font-size: 20px;
  font-style: italic;
  margin: 0;
}

header div .button a {
  background-color: #2196f3;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  letter-spacing: 1px;
  padding: 10px;
  text-decoration: none;
}

header nav {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
}

header nav h1 {
  color: #fff;
  margin: 0 0 0 5%;
}

header nav ul {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 5% 0 0;
  padding: 0;
  width: 40%;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.achievements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

.achievements  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.achievements ul li {
  color: rgba(26, 26 ,26, .7);
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.achievements ul li img {
  height: 25px;
  margin-right: 1%;
  width: 25px;
}


.container {
  display: flex;
  justify-content: center;
}

.container .inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.container .inner section {
  width: 100%;
  text-align: center;
}

.container .inner .inner-about {
  color: rgba(26, 26, 26, .9);
  font-size: 32px;
  margin-top: 5%;
}

.container .inner .mission {
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
}

.container .inner .mission h3 {
  font-size: 22px;
  letter-spacing: 1px;
}

.container .inner .quote {
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
}

.container .inner .quote p:first-of-type {
  font-size: 4em;
  margin: 0;
  opacity: .3;
}

.container .inner .quote .actual-quote {
  color: rgba(26, 26 ,26, .9);
  font-size: 20px;
}

.container .inner .quote p:last-of-type {
  font-size: 15px;
  opacity: .5;
}

.mini-about {
  display: flex;
  height: 400px;
  justify-content: center;
}

.mini-about div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 60%;
}

.mini-about div h2 {
  color: rgba(26, 26, 26, .9);
  font-size: 25px;
}

.mini-about div p {
  color: rgba(26, 26, 26, .7);
  font-size: 18px;
}

.talent {
  align-items: center;
  display: flex;
  height: 600px;
  justify-content: space-around;
}

.talent div {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 33%;
}

.talent div img {
  height: 60%;
  width: 100%;
}

.talent div h3 {
  color: #3d9991;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.talent div p {
  color: rgba(26, 26, 26, .7);
  font-size: 18px;
  margin: 5% 0 0 0;
}

.talent div p a {
  color: #3d9991;
  text-decoration: none;
}

/*special classes*/
.underline {
  border-bottom: 1px solid rgba(130, 130, 130, .4);
  padding-bottom: 5px;
}

.responsive, .responsive-small {
  display: none;
}

@media screen and (max-width: 750px) {

  footer p {
    text-align: center;
    width: 95%;
  }

  .container .inner {
    width: 90%
  }

  .container .inner .inner-about {
    font-size: 21px;
  }

  .mini-about {
    height: 600px;
  }

  .mini-about div {
    width: 95%;
  }

  .mini-about div h2 {
    font-size: 22px;
  }

  .talent {
    flex-direction: column;
    height: 1400px;
  }


  .talent div img {
    height: 65%;
  }

  .talent div {
    width: 95%;
  }
}

@media screen and (max-width: 650px) {

  .responsive {
    display: block;
  }

  .full {
    display: none;
  }

}

@media screen and (max-width: 530px) {
  .responsive-small {
    display: block;
  }
  
  .responsive {
    display: none;
  }
}
